<div class="container-fluid uslugi">
  <h2>Usługi</h2>
  <div class="row g-0 m-0 p-0">
    <img class="col-4" src="assets/zbiornik-naziemny-na-gaz-plynny.jpg" alt="zbiornik">
    <img class="col-4" src="assets/konstrukcja-stalowa-romanek.jpg" alt="zbiornik">
    <img class="col-4" src="assets/Wjf-DIrFSAlk9Ooo3xwG2reu8KhS8v2PbQkB-vYLa2fQAKtcd8hWo3u8jb8ntMRKWIprohB7KdS2bgcKpxK-dcvcbIXQviGWXYUOcA5SoxB6NA.jpg" alt="zbiornik">

  </div>
  <div class="row my-5 py-5">
    <div class="col-12 col-sm-6">
      <ul class="mx-0 px-5 mx-sm-5 mx-md-3 px-sm-3 px-md-3 px-lg-5">
        <li class="fs-1">Ogrzewanie hal i magazynów</li>
        <li class="fs-1">Montaż nagrzewnic i nawiewów</li>
        <li class="fs-1">Doprowadzenie wody do celów sanitarnych i przeciwpożarowych</li>
        <li class="fs-1">Ogrzewanie podłogowe i grzejnikowe</li>
        <li class="fs-1">Montaż zasobników wody</li>
        <li class="fs-1">Montaż zbiorników na paliwo płynne</li>
        <li class="fs-1">Układy rekuperacji i pompy ciepła</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6">
      <ul class="mx-0 px-5 mx-sm-5 mx-md-3 px-sm-3 px-md-3">
        <li>Usługi spawalnicze</li>
        <li class="fs-1">Pełna instalacja wodno-kanalizacyjna i gazowa</li>
        <li class="fs-1">Kompleksowe instalacje w budynkach nowych i istniejących. Instalacje dla lokali użytkowych, hoteli i sklepów.</li>
        <li class="fs-1">Montaż kontrukcji stalowych</li>
        <li class="fs-1">Odprowadzanie wody opadowej</li>
        <li class="fs-1">Montaż instalacji gazowych. Doprowadzenie gazu do budynku. Rozprowadzenie instalacji. Podłaczenie odbiorników.</li>
      </ul>
    </div>
  </div>
  <div class="row"></div>
</div>
