<div id="przykladowaKaruzela" class="carousel slide d-none d-sm-block" data-ride="carousel"  data-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-50" src="assets/termet/1.png" alt="Pierwszy slajd">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-50 ci" src="assets/termet/2.png" alt="Drugi slajd">
    </div>
    <div class="carousel-item ci">
      <img class="d-block w-50" src="assets/termet/3.png" alt="Trzeci slajd">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-50" src="assets/termet/6.jpg" alt="czwarty slajd">
    </div>
    <div class="carousel-item">
      <img class="d-block w-50 ci" src="assets/termet/4.png" alt="Piąty slajd">
    </div>
    <div class="carousel-item">
      <img class="d-block w-50" src="assets/termet/7.jpg" alt="szósty slajd">
     <!--  <p>ZASOBNIK</p> -->
    </div>
  </div>
</div>
