img{
  margin: auto;
//  vertical-align: middle;
//  background-color: green;
}
#przykladowaKaruzela{
 // vertical-align: middle;
  height: 300px;
}
.carousel-inner{
 // vertical-align: middle;
// text-align: center;
}
.carousel-item{

p{
 margin-left: 150px;
}
}
.ci{
  margin-top:20%;
}
