<header class="col-12 p-0 m-0 g-0">
  <div class="row p-0 m-0 g-0 h-100">
    <div class="col-6 p-0 m-0 g-0" style="height: 100%; background-color: rgb(0, 255, 64)">LOgo</div>
    <div class="col-6 p-0 m-0 g-0 h-100">
      <div class="row p-0 m-0 g-0 h-100">
        <div class="col-12 p-0 m-0 g-0 h-50" style="background-color: rgb(135, 146, 180)">
          <div class="row p-0 m-0 g-0 h-100 align-items-center">
            <div class="col" style="background-color: rgb(58, 91, 190)">KONTAKT</div>
            <!--<div class="col" style="background-color: rgb(135, 180, 141)">KONTAKT</div>-->
            <!--<div class="col" style="background-color: rgb(180, 159, 135)">KONTAKT</div>-->
          </div>
        </div>
        <div class="col-12 p-0 m-0 g-0 h-50" style="background-color: rgb(36, 57, 119)">
          <div class="row h-100 align-items-center justify-content-center p-0 m-0 g-0">
            <div class="col-6" style="background-color: rgb(119, 36, 57)">Tel: 609 244 988</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--
    appScroll classScroll1="headerContainer__Small" classScroll2="headerContainer__Big"
  [@HeaderSize]="bigHeader"
  class="container-fluid fixed-top headerContainer" >
    <div class="row headerWrapper" >
      <app-title class="col-5 align-self-center headerContainer__Title"></app-title>
      <app-tel class="col-7 headerContainer__Info"></app-tel>
        <div class="row headerContainer__Info--Slogan">
          <div class="col-12 Slogan">
            <h3 class="Slogan__text">INSTALACJE DLA TWOJEJ FIRMY</h3>
          </div>
        </div>
      </div>
  <app-baner></app-baner>
  <div class="container-fluid fixed-top">
    <div class="row  justify-content-center">
      <div class=" anim col-8" appScroll classScroll1="anim1" classScroll2="anim2"></div>
      <!--<app-svg class="col-7 col-sm-10 Animation fixed-top"></app-svg>-->

