<section class="row g-0 m-0 p-0" style="background-color:rgb(21, 78, 134)">
  <div class="col-12 mx-0 px-sm-5 py-5">
    <h2 class="px-sm-5 px-3" style="background-color:rgb(96, 141, 185); text-align: center">Program czyste powietrze</h2></div>
  <div class="col-5 col-sm-5 col-sm-5">
    <img class="w-100  px-2  img3" src="assets/nieb2.png" alt="program czyste powietrze"></div>
  <div class="col-7 col-sm-7">
    <p class="px-2 tIdent">Program przewiduje zwrot części wydatków na wymianę starego kotła na paliwi stałe, na kociął spełniakjący wymagania Programu.</p>
    <div class=" mx-0 px-0" >
      <a class="textWrapper__link" href="https://nfosigw.gov.pl/czyste-powietrze/o-programie-czyste-powietrze-/" target="_blank" rel="noopener noreferrer"><p>Czytaj więcej...</p></a>
    </div>
  </div>
</section>
