.tIdent{
  text-indent: 3vw;
  font-size: 10px;
  line-height: 2;
  letter-spacing: .5vw;
  &::first-line{
    line-height: 1;
  }
  &::first-letter{
    color: red;
    font-size: 20px;
    letter-spacing: .7vw;
  }
}

@media (min-width: 576px) {
  .tIdent{
    text-indent: 5vw;
    font-size: max(10px, 1.7vw);
    letter-spacing: .2vw;
    &::first-line{
      line-height: .1;
    }
    &::first-letter{
      color: #212529;
      font-size: 2vw;
      letter-spacing: .1vw;
    }

  }
}
