$textSmall: 12px;
$textBig: 1.5vw;
$textPadding: 20px 5vw 70px 5vw;

%articleContainerOne{
  .articleContainer__one{
    margin-bottom: 20vw;
    .title{
      .title__container{
        margin-top: 3vh;
        .title__container--text{
          padding-left: 6vw;
          font-size: 6vw;
          text-align: center;
            strong{
              font-size: 5vw;
            }
        }
      }
      .title__container--logo{
        margin-top: 3vh;
        .containerLogo{
          margin-top: 3vh;
          a{
            width: 100%;
            height: 100%;
            img{
              position: relative;
              width: 80%;
              height: 80%;}
          }
        }
      }
    }
  }
}

%articleContainerTwo{
  .articleContainer__two{
    margin-bottom: 0px;
    .articleContainer__two--title{
      margin-bottom: 20px;
      padding:20px;
      h2{
        font-size: $textSmall + 3px;
        font-weight: 800;
        text-align: center;
      }
    }
    .articleContainer__two--text{
      .textWrapper{
        clear: both;
        padding: $textPadding;
        .textWrapper__text{
          font-size: $textSmall;
          text-indent: 5vw;
          clear: both;
        }
        .textWrapper__link{
          clear: both;
          p{font-size: $textSmall;}
        }
      }
    }
  }
}

%articleContainerFive{
  .articleContainer__five{
    h2{
      font-size: $textSmall+ 3px;
      margin: 30px;}

    .image1{
      width: 50vw;
    }

    .svgImage{
      float:right;
      width: 50vw;
      padding-top: 20%;
    }
  }
}

%articleContainerSix{
  .articleContainer__six{
    h2{
      font-size:max(14px, 5vw);
    }
    p{
      font-size: $textSmall;
    text-indent: 5vw;}
    .img3{
      //width: 80%;
    }
  }
}



%articleContainerThree{
  .articleContainer__three{
    margin-top:10vh;
    h2{
      align-content: center;
      font-size:max(14px, 5vw);
      margin: 30px;}
    p{
      text-indent: 5vw;
      color: blue;
    }
  }
}



.articleContainer{
  @extend %articleContainerOne;
  @extend %articleContainerTwo;
  @extend %articleContainerFive;
  @extend %articleContainerSix;
  @extend %articleContainerThree;
}
