<div #container class="startPageContainer">
  <!-- <app-start-svg></app-start-svg> -->
  <img class="img1"  src="assets/rysunek-1.svg" alt="">
  <img class="img2" src="assets/rysunek.svg" alt="">
  <div class="servicesContainer">
    <ul>
      <li>Budowa i modernizacja instalacji gazowych, centralnego ogrzewania, wodociągowych, kanalizacyjnych</li>
      <li>Wentylacja z odzyskiem ciepła (rekuperacja)</li>
      <li>Montaż instalacji sanitarnycj</li>
      <li>Usługi spawalnicze</li>
    </ul>
    <a class="seeMore" routerLink="/Page">Czytaj Wiecej</a>
  </div>
</div>

