<div #container class="startPageContainer container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-9">
      <h1>MITRO<span class="sp">sp.</span><span class="sp1"> z o.o.</span></h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col-7">
      <h3>Mieczysław Troc</h3>
    </div>
  </div>
  <div class="row pt-5 justify-content-center">
    <div class="col-10 list_container">
        <ul>
          <li>Budowa i modernizacja instalacji gazowych, centralnego ogrzewania, wodociągowych, kanalizacyjnych</li>
          <li>Wentylacja z odzyskiem ciepła (rekuperacja)</li>
          <li>Montaż instalacji sanitarnycj</li>
          <li>Usługi spawalnicze</li>
        </ul>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-5 mr-5">
      <a class="seeMore" routerLink="/Page">Czytaj wiecej</a>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row  justify-content-start">
    <div class="col-1"></div>
    <div class="col-5 mt-3 ml-5 contact_container">
      <p class="p1 mt-3">Kontakt</p>
      <p>email: mitro150@interia.pl</p>
      <p>tel: 609244988</p>
      <p>Wigierska 17G Białystok</p>
    </div>
    <div class="col-5"></div>
  </div>
</div>

