<section class="row g-0 m-0 px-0 py-5">
  <div class="col-12">
    <div class="row g-0 m-0 px-0 py-3 justify-content-center">
      <div class="col-8">
        <h2 class="title_3">Od projektu do realizacji</h2>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p class="lorem">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
       recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="row justify-content-center" style="background-color: rgba(111, 111, 201, 0.1);height:100px">
          <div class="col-4 h-100" style="background-color: rgba(0, 255, 157, 0.1)"></div>
          <div class="col-4 h-100" style="background-color: rgba(15, 15, 58, 0.1)"></div>
          <div class="col-4 h-100" style="background-color: rgba(255, 0, 0, 0.1)"></div>
        </div>

      </div>
    </div>
  </div>
</section>
