//HEADER
$headerHeight: 15vh;
$headerBackgroundColor:rgb(247, 247, 247);

//FOOTER
$footerHeight: 10vh;

//FONTS


$headerColor1:rgb(53,106,160);
$headerColor2:#24292e;
$headerColor3:rgb(21, 41, 41);
$houseColor:#9bc3eb;
$LogoColor:#f2f5f8;
$time:2s;


// font size

$paragraph:12px;
$paragraphSM:12px;
$paragraphMD:12px;
$paragraphLG:12px;
$paragraphXL:12px;
$paragraphXXL:12px;

