<section  class="row g-0 m-0 p-0">
  <div class="col-12">
    <div class="row justify-content-start justify-content-sm-center">
      <div class="col-5 mt-5 mb-5 mx-2 mx-sm-0">
        <h2 class="" style="text-align: center">Zdalna obsługa</h2>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <p class="col-12 p-2 text1">Jedną z największych zalet nowoczesnych systemów ogrzewania jest, coraz popularniejszy, system zdalnego sterowania kotłem.
        Komfort jaki daje to rozwiązanie jest nie do przecenienia.
        Możliwe jest korzystanie ze zdalnego regulatora oraz aplikacji, którą łatwo zainstalujesz na swoim telefonie. Ustawienie tygodniowego programu grzania.
         Dodatkowo czujnik temperatury zewnętrznej usprawnia sterowanie systemem.
      </p>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="images"></ng-container>
</section>

<ng-template #images>
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="row justify-content-center">
          <img src="assets/Pakiet EvoHome i Open-Therm.jpg" class="image1 img-fluid"  alt="remote">
        </div>
      </div>
      <div class="col-6 imWrapper">
        <img src="assets/SVG/phone_remote.svg" alt="">
      </div>
    </div>
  </div>
</ng-template>
