<div class="container-fluid p-0 m-0 g-0 app__container" style="background-color: rgb(128, 39, 47)">
  <app-header class="row fixed-top p-0 m-0 g-0"></app-header>
  <div class="row p-0 m-0 g-0 row1"></div>
  <div class="row p-0 m-0 g-0 content-container"  style="background-color: rgb(60, 92, 63)">
    <section class="col-12 p-0 m-0 g-0">
      <app-article class="col-12 p-0 m-0 g-0"></app-article>
    </section>
    <section class="col-12 p-0 m-0 g-0">
      <app-contact class="col-12 p-0 m-0 g-0"></app-contact>
      <app-form-mitro class="col-12 p-0 m-0 g-0" style="height: 200px; background-color: rgb(135, 180, 146)"></app-form-mitro>
    </section>
    <app-footer class="col-12 p-0 m-0 g-0 align-self-end"></app-footer>
  </div>
</div>
