<div class="container-fluid p-0 m-0 g-0 app__container" style="background-color: #80272f">
  <app-header class="row fixed-top p-0 m-0 g-0"></app-header>
  <div class="row p-0 m-0 g-0 row1"></div>
  <div class="row p-0 m-0 g-0 content-container align-items-end justify-content-end"  style="background-color: red">
    <section class="col-12 px-0 py-5 m-0 g-0" style="background-color: rgb(49, 10, 43)">
      <div class="row p-0 m-0 g-0">
        <app-article class="col-12 p-0 m-0 g-0"></app-article>
      </div>
    </section>
    <section class="col-12 px-0 py-5 m-0 g-0" style="background-color: rgb(180, 135, 173)">
      <div class="row p-0 m-0 g-0">
        <app-contact class="col-12 px-0 py-5 m-0 g-0"></app-contact>
        <app-form-mitro class="col-12 p-0 m-0 g-0" style="background-color: #7e1a23"></app-form-mitro>
      </div>
    </section>
    <app-footer class="col-12 p-0 m-0 g-0" style="background-color: rgb(6, 26, 8)"></app-footer>
  </div>
</div>
