




<!--<section class="mitro-footer row g-0 m-0 px-0 py-5 my-5 justify-content-center">
  <div class="col-8">
    <h1 id="kontaktt" >Kontakt</h1>
  </div>
  <div class="col-8">
    <div class="row pb-5 p-5">
      <div class="mitro-contact">
        <h2 class="mitro__contact--company"><span>MITRO</span><span class="sp_z">Sp. z o.o.</span></h2>
        <h2 class="adr">Telefon: 609 244 988 </h2>
        <h2 class="adr">E-mail: mitro150@interia.pl</h2>
        <h2 class="adr adr1">Działamy na terenie całego województwa podlaskiego</h2>
      </div>
    </div>
  </div>
</section>-->
