<div id="kontakt" class="row p-0 m-0 g-0" style="background-color: rgb(52, 39, 128)">
  <div class="col-1"></div>
  <div class="col-10" style="background-color: rgb(116, 104, 185)">
    <h1 style="font-size: max(12px, 3.5vw);">Kontakt</h1>
    <div class="row">
      <h2 class="col-12" style="font-size: max(12px, 3vw);"><span style="margin-right: 10px">MITRO</span><span class="sp_z">Sp. z o.o.</span></h2>
      <h2 class="col-12" style="font-size: max(12px, 3vw);"><a style="color: black; text-decoration: none" href="tel:609 244 988"> Telefon: 609 244 988 </a></h2>
      <h2 class="col-12" style="font-size: max(12px, 3vw);">E-mail: mitro150@interia.pl</h2>
      <h2 class="col-12" style="font-size: max(12px, 2vw);">Działamy na terenie całego województwa podlaskiego</h2>
    </div>
  </div>
  <div class="col-1"></div>
</div>




<!--<section class="mitro-footer row g-0 m-0 px-0 py-5 my-5 justify-content-center">
  <div class="col-8">
    <h1 id="kontaktt" >Kontakt</h1>
  </div>
  <div class="col-8">
    <div class="row pb-5 p-5">
      <div class="mitro-contact">
        <h2 class="mitro__contact--company"><span>MITRO</span><span class="sp_z">Sp. z o.o.</span></h2>
        <h2 class="adr">Telefon: 609 244 988 </h2>
        <h2 class="adr">E-mail: mitro150@interia.pl</h2>
        <h2 class="adr adr1">Działamy na terenie całego województwa podlaskiego</h2>
      </div>
    </div>
  </div>
</section>-->
